<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">
    
    <servlet>
        <servlet-name>EcommerceServlet</servlet-name>
        <servlet-class>com.microsoft.example.EcommerceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EcommerceServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
